<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>newpackage.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployeesServlet</servlet-name>
        <servlet-class>newpackage.ShowEmployeesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <servlet-class>newpackage.SearchEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <servlet-class>newpackage.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchJavaExpertsServlet</servlet-name>
        <servlet-class>newpackage.SearchJavaExpertsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllEmployeesSearchServlet</servlet-name>
        <servlet-class>newpackage.AllEmployeesSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchEmployeeServlet</servlet-name>
        <servlet-class>newpackage.FetchEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <servlet-class>newpackage.UpdateEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployeesServlet</servlet-name>
        <url-pattern>/ViewEmployeesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <url-pattern>/SearchEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <url-pattern>/DeleteEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchJavaExpertsServlet</servlet-name>
        <url-pattern>/SearchJavaExpertsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllEmployeesSearchServlet</servlet-name>
        <url-pattern>/AllEmployeesSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchEmployeeServlet</servlet-name>
        <url-pattern>/FetchEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <url-pattern>/UpdateEmployeeServlet</url-pattern>
    </servlet-mapping>
</web-app>
